<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">CCN Crypto News Scraper</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
            <li><a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Scrape New Articles!</a>
            </li>
        </ul>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">CCN News Scraper</h1>
        <div class="row center">
            <h5 class="header col s12 light">A modern responsive front-end that scrapes CCN for daily headlines.</h5>
        </div>
        <div class="row center">
            <a class="btn-large waves-effect waves-light orange">Get Started</a>
        </div>
    </div>
</div>

<div class="container article-container">

</div>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2019 Anthony Lam
        </div>
    </div>
</footer>

<script src="/public/assets/javascript/index.js"></script>